<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="helloworld.liu.mapper.StudentMapper">
    <resultMap id="resultTeacgerAndStudentMap" type="helloworld.liu.pojo.Student">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <!--复杂的属性需要单独处理：
            对象：association
            集合: collection
        -->
        <association property="teacher" column="tid" javaType="helloworld.liu.pojo.Teacher" select="helloworld.liu.mapper.TeacherMapper.getTeacherById"/>
    </resultMap>
    <select id="getStudentAndTeacherList" resultMap="resultTeacgerAndStudentMap">
        select * from student;
    </select>

    <resultMap id="resultTeacgerAndStudentAllMap" type="helloworld.liu.pojo.Student">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <association property="teacher" javaType="helloworld.liu.pojo.Teacher">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

</mapper>